:root {
  font-family: 'Roboto', sans-serif;
  --primary-color: #254e70;
  --secondary-color: #d56f3e;
  --text-color: #f1e3d3;
}

.header {
  font-size: 64px;
  background-color: var(--primary-color);
}
